# Dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/

# Production build artifacts
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic / Error dumps
hs_err_pid*

# Vercel / Turbopack
.vercel
.turbo
.cache

# Editor & IDE directories
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.suo
*.user
*.userosct
*.sln
*.swp
*.swo

# Operating System files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Testing & Coverage
/coverage
/.nyc_output
